<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <div class="name1" ng-controller="userCtrl"> --}}
	<p>Name : <input type="text" ng-model="n"></p>
	<h1>Hello <span ng-bind="n"></span></h1>	
	{{!-- <h1 ng-bind="n">Hello {[{n}]}</h1>	 --}}
	{{!-- <h1>Hello {[{name}]}</h1>	 --}}
{{!-- </div> --}}
<hr>
<ui-view></ui-view>

