<!DOCTYPE html>
<html ng-app="users">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <base href="/">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        {{# if user}}
          <li><a href="/signout">Sign out</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>

        {{/if}}
      </ul>
      {{# if user.admin}}
        <h3>Welcome admin</h3>
      {{/if}}
    	{{{body}}}
    </div>


  <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
  
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  
  {{!-- Users Module for Angular --}}
  <script type="text/javascript" src="/angular/users/users.client.module.js"></script>
  <script type="text/javascript" src="/angular/users/controllers/users.client.controller.js"></script>
  <script type="text/javascript" src="/angular/users/services/users.client.service.js"></script>
  <script type="text/javascript" src="/angular/users/config/users.client.routes.js"></script>


{{!--   // <script type="text/javascript" src="/angular/application.js"></script> --}}



  </body>
</html>
